* {
    background-color: #ffffcc;
}

.image {
    border-radius: 50%;
    position: relative;
    bottom : 355px;
    right: 10px;
    width: 500px;
    height : 480px
}

.intro {
    
    text-align: center;
    font-family : kranky;
}

.malachi {
    font-size: 7em;
    font-family: cursive;
}

.registered {
    font-size: 35px;
}

.details {
    position: relative;
    bottom : 300px;
    color : red;
    font-size: 37px;
    text-align: center;
}

.jan {
    color : #3F51B5;
}
.footer {
    background-color: white;
    padding: 100px;
}

.right {
    position: relative;
    top : 110px;
    text-align: center;
    font-size: 20px;
    display: block !important;
    background-color:white;
}
.links {
    display: inline;
    text-align: center;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #eee;
}
